ApiGateway/ApiGateway.csproj
ProductApi/obj/rider.project.model.nuget.info
ProductApi/obj/rider.project.restore.info
ProductApi/obj/Debug/net8.0/ProductApi.AssemblyInfo.cs
ProductApi/obj/Debug/net8.0/ProductApi.AssemblyInfoInputs.cache
ApiGateway/obj/ApiGateway.csproj.nuget.dgspec.json
ApiGateway/obj/project.assets.json
ApiGateway/obj/project.nuget.cache
ApiGateway/obj/project.packagespec.json
ApiGateway/obj/rider.project.model.nuget.info
ApiGateway/obj/rider.project.restore.info
ApiGateway/obj/Debug/net8.0/ApiGateway.AssemblyInfo.cs
ApiGateway/obj/Debug/net8.0/ApiGateway.AssemblyInfoInputs.cache
ApiGateway/obj/Debug/net8.0/ApiGateway.assets.cache
ApiGateway/obj/Debug/net8.0/ApiGateway.csproj.AssemblyReference.cache
ProductApi/obj/rider.project.restore.info
ProductApi/obj/Debug/net8.0/ProductApi.AssemblyInfo.cs
ProductApi/obj/Debug/net8.0/ProductApi.AssemblyInfoInputs.cache
ProductApi/obj/rider.project.restore.info
ProductApi/obj/Debug/net8.0/ProductApi.AssemblyInfo.cs
ProductApi/obj/Debug/net8.0/ProductApi.AssemblyInfoInputs.cache
OrderApi/obj/Debug/net8.0/OrderApi.AssemblyInfoInputs.cache
OrderApi/obj/rider.project.restore.info
ApiGateway/ApiGateway.csproj
ApiGateway/obj/ApiGateway.csproj.nuget.dgspec.json
ApiGateway/obj/project.nuget.cache
ApiGateway/obj/rider.project.restore.info
OrderApi/bin/Debug/net8.0/OrderApi.dll
OrderApi/bin/Debug/net8.0/OrderApi.pdb
OrderApi/obj/Debug/net8.0/OrderApi.AssemblyInfo.cs
OrderApi/obj/Debug/net8.0/OrderApi.AssemblyInfoInputs.cache
OrderApi/obj/Debug/net8.0/OrderApi.dll
OrderApi/obj/Debug/net8.0/OrderApi.pdb
OrderApi/obj/Debug/net8.0/OrderApi.sourcelink.json
OrderApi/obj/Debug/net8.0/ref/OrderApi.dll
OrderApi/obj/Debug/net8.0/refint/OrderApi.dll
ProductApi/bin/Debug/net8.0/ProductApi.dll
ProductApi/bin/Debug/net8.0/ProductApi.pdb
ProductApi/obj/Debug/net8.0/ProductApi.AssemblyInfo.cs
ProductApi/obj/Debug/net8.0/ProductApi.AssemblyInfoInputs.cache
ProductApi/obj/Debug/net8.0/ProductApi.dll
ProductApi/obj/Debug/net8.0/ProductApi.pdb
ProductApi/obj/Debug/net8.0/ProductApi.sourcelink.json
ProductApi/obj/Debug/net8.0/ref/ProductApi.dll
ProductApi/obj/Debug/net8.0/refint/ProductApi.dll
ApiGateway/obj/Debug/net8.0/ApiGateway.AssemblyInfo.cs
ApiGateway/obj/Debug/net8.0/ApiGateway.AssemblyInfoInputs.cache
OrderApi/bin/Debug/net8.0/OrderApi.dll
OrderApi/bin/Debug/net8.0/OrderApi.pdb
OrderApi/obj/Debug/net8.0/OrderApi.AssemblyInfo.cs
OrderApi/obj/Debug/net8.0/OrderApi.AssemblyInfoInputs.cache
OrderApi/obj/Debug/net8.0/OrderApi.dll
OrderApi/obj/Debug/net8.0/OrderApi.pdb
OrderApi/obj/Debug/net8.0/OrderApi.sourcelink.json
OrderApi/obj/Debug/net8.0/ref/OrderApi.dll
OrderApi/obj/Debug/net8.0/refint/OrderApi.dll
ProductApi/bin/Debug/net8.0/ProductApi.dll
ProductApi/bin/Debug/net8.0/ProductApi.pdb
ProductApi/obj/Debug/net8.0/ProductApi.AssemblyInfo.cs
ProductApi/obj/Debug/net8.0/ProductApi.AssemblyInfoInputs.cache
ProductApi/obj/Debug/net8.0/ProductApi.dll
ProductApi/obj/Debug/net8.0/ProductApi.pdb
ProductApi/obj/Debug/net8.0/ProductApi.sourcelink.json
ProductApi/obj/Debug/net8.0/ref/ProductApi.dll
ProductApi/obj/Debug/net8.0/refint/ProductApi.dll
